<p>listagem-usuarios works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Perfil</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios$">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.idade }}</td>
            <td>{{ usuario.perfil }}</td>
            <td>
                <button class="btn btn-primary" (click)="editar(usuario)">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="excluir(usuario)">Excluir</button>
            </td>
        </tr>
    </tbody>