<div class="container">
    <img src="assets/Angular.png" alt="logo">

    <strong>Logado com Sucesso !</strong>

    <!-- <form>
        <h2>Sign in</h2>
        <label class="input-field">
            <img src="assets/Vector.svg" alt="user">
            <input type="email" placeholder="E-mail" required>
        </label>

        <label class="input-field">
            <img src="assets/cadeado.svg" alt="lock">
            <input type="password" placeholder="Password">
        </label>
        
    </form> -->
    
    
    <button type="button" class="btn-vermelho">Logout</button>

</div>
