<table mat-table [dataSource]="dataSourceMapDatasModificado" class="mat-elevation-z8">

  <ng-container *ngFor="let column of displayedColumnsModificado; let i = index" [matColumnDef]="column" >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsModificado"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsModificado"></tr>

</table>

<br><br>

<table mat-table [dataSource]="dataSourceMapDatas" class="mat-elevation-z8">

  <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column" >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

<br><br>

<table mat-table [dataSource]="dataSourceMapDatas" class="mat-elevation-z8">

  <!-- <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column" > -->
  <ng-container matColumnDef="servico" > 
    <th mat-header-cell *matHeaderCellDef>servico</th>
    <td mat-cell *matCellDef="let element">{{ element.servico }}</td>
  </ng-container>

  <!-- <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column" > -->
  <ng-container matColumnDef="dadosPorDia" > 
    <th mat-header-cell *matHeaderCellDef>dadosPorDia</th>
    <td mat-cell *matCellDef="let element">{{ element.dadosPorDia.data }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

