<div class="container">
    <img src="assets/Angular.png" alt="logo">

    <form [formGroup]="formAuth" (ngSubmit)="submitForm()"> <!-- passo - 1 - encapsula todos os dados do formulario aplicando validações e submetendo para salvar -->
        <h2>Sign in</h2>

        <label class="input-field">
            <img src="assets/Vector.svg" alt="user">
            <input type="email" placeholder="E-mail" required formControlName="email"> <!-- passo - 2 - valida o campo email-->
        </label>

        <label class="input-field">
            <img src="assets/cadeado.svg" alt="lock">
            <input type="password" placeholder="Password" required formControlName="password"> <!-- passo - 3 - valida o campo password -->
        </label>
        <button class="btn-vermelho" [disabled]="formAuth.invalid">Sign in</button> <!-- passo - 4 - se os valores de email e password continuarem invpalidos o botão fica desabilitado -->
    </form>

    <!-- passoService - 7 - setando a variavel de mensagem de erro mgsError -->
    <span class="msg-error" *ngIf="mgsError"> <!-- ngIf="mgsError"-->
        <p>{{ mgsError }}</p>
    </span>

</div>