
.btn-vermelho{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    &:disabled{
        cursor: no-drop;
        background-color: darken(red, 20%);
    }
}